@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-tilt-warp);
  --font-serif: var(--font-instrument-serif);

  /* Brand Colors from Figma */
  --color-brand-orange: #FF5500;
  /* Halaman Utama / Home */
  --color-brand-green: #22C55E;
  /* Arsip */
  --color-brand-blue: #3B82F6;
  /* Tentang Kami */
  --color-brand-dark: #050505;
  /* Deep background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}